body {
	font-size: 32px;
	font-family: consolas;
	margin: 0;
}
.game-area {
	position: relative;
	background: rgb(59, 159, 247);
	background: linear-gradient(lightblue, rgb(131, 198, 235));
	width: 100%;
	height: 96vh;
	margin: 0;
}
.game-start {
	position: absolute;
	width: 30%;
	background-color: rgb(245, 208, 163);
	border-radius: 33px;
	top: 45%;
	left: 35%;
	z-index: 1;
	text-align: center;
	padding: 30px;
}
.score {
	background-color: black;
	color: white;
	text-align: center;
}
.score p {
	margin: 0;
	display: inline-block;
	padding-left: 100px;
}
.hidden {
	display: none;
}
.wizzard {
	z-index: 100;
	position: absolute;
	width: 82px;
	height: 100px;
	background-image: url("/images/wizard.png");
	background-size: cover;
}
.wizzard-fire {
	z-index: 100;
	position: absolute;
	width: 82px;
	height: 100px;
	background-image: url("/images/wizard-fire.png");
	background-size: cover;
}
.fire-ball {
	width: 40px;
	height: 35px;
	position: absolute;
	background-image: url("/images/fire-ball.png");
}
.bug {
	width: 60px;
	height: 60px;
	background-image: url("./images/bug.png");
	background-size: cover;
	position: absolute;
}
